body {
  background-color: #FFFFFF;
  color: #000000;
  font-size: 16px;
}

nav {
  background-color: rgba(132, 132, 132, 0.3);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}


.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

/* for the nav links */

a {
  text-decoration: none;
}

a:link {
  color: #0000FF;
}

a:visited {
  color: #800080;
}

a:hover {
  color: ##EE0000;
}



/* adding in h1 h3 p resize fonts */

h1 {
  font-size: 2.5em; /* 40px */
  line-height: 1.5;
}


h3 {
  font-size: 1.5em; /* 24px */
  line-height: normal;
}

p {
  font-size: 100%
}


/* end font */

p {
  line-height: 1.75;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
